{% extends 'sudoku/base.html' %}

{% block contents %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Sudoku Images and Results</h2>

    <div class="row">
        {% for img in image_list %}
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        Image and Result #{{ forloop.counter }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Original Image</h5>
                        {% if img.sudoku_image %}
                            <img src="{{ img.sudoku_image.url }}" class="card-img-top mb-3" alt="Sudoku Image {{ forloop.counter }}">
                        {% else %}
                            <div class="text-center text-muted d-flex align-items-center justify-content-center" style="height: 320px;">
                                이미지를 가져오지 못했어요 ㅠㅜ
                            </div>
                        {% endif %}

                        <h5 class="card-title">Solved Result</h5>
                        {% if img.sudoku_image_result %}
                            <img src="{{ img.sudoku_image_result.url }}" class="card-img-top" alt="Sudoku Result {{ forloop.counter }}">
                        {% else %}
                            <div class="text-center text-muted d-flex align-items-center justify-content-center" style="height: 400px;">
                                이미지를 가져오지 못했어요 ㅠㅜ
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
