<!-- sudoku/solved_by_type.html -->

{% extends 'sudoku/base.html' %}

{% block contents %}

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">스도쿠 결과</h1>
    </div>
    {% if img.sudoku_image %}
        <img src="{{ img.sudoku_image.url }}" alt="스도쿠 이미지" style="width: 480px; height: 480px; margin-bottom: 30px"/>
    {% endif %}
    {% if img.sudoku_image_result %}
        <img src="{{ img.sudoku_image_result.url }}" alt="스도쿠 결과 이미지" style="width: 480px; height: 480px; margin-bottom: 30px"/>
    {% endif %}

    <div>
        <a href="/" class="btn btn-primary" style="width: 10%;">돌아가기</a>
    </div>
</div>

{% endblock %}
