<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SolveSudoku</title>
</head>
<body>
    <h1>solve by type</h1>

    <!DOCTYPE html>
    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
    }

    textarea,input {
        border: 0px;
        resize: none;
        width: 15px;
    }
    </style>

    <!--table-->

    <form method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td><input name="n11">
                <td><input name="n12">
                <td><input name="n13">
                <td><input name="n14">
                <td><input name="n15">
                <td><input name="n16">
                <td><input name="n17">
                <td><input name="n18">
                <td><input name="n19">
            </tr>
            <tr>
                <td><input name="n21">
                <td><input name="n22">
                <td><input name="n23">
                <td><input name="n24">
                <td><input name="n25">
                <td><input name="n26">
                <td><input name="n27">
                <td><input name="n28">
                <td><input name="n29">
            </tr>
            <tr>
                <td><input name="n31">
                <td><input name="n32">
                <td><input name="n33">
                <td><input name="n34">
                <td><input name="n35">
                <td><input name="n36">
                <td><input name="n37">
                <td><input name="n38">
                <td><input name="n39">
            </tr>
            <tr>
                <td><input name="n41">
                <td><input name="n42">
                <td><input name="n43">
                <td><input name="n44">
                <td><input name="n45">
                <td><input name="n46">
                <td><input name="n47">
                <td><input name="n48">
                <td><input name="n49">
            </tr>
            <tr>
                <td><input name="n51">
                <td><input name="n52">
                <td><input name="n53">
                <td><input name="n54">
                <td><input name="n55">
                <td><input name="n56">
                <td><input name="n57">
                <td><input name="n58">
                <td><input name="n59">
            </tr>
            <tr>
                <td><input name="n61">
                <td><input name="n62">
                <td><input name="n63">
                <td><input name="n64">
                <td><input name="n65">
                <td><input name="n66">
                <td><input name="n67">
                <td><input name="n68">
                <td><input name="n69">
            </tr>
            <tr>
                <td><input name="n71">
                <td><input name="n72">
                <td><input name="n73">
                <td><input name="n74">
                <td><input name="n75">
                <td><input name="n76">
                <td><input name="n77">
                <td><input name="n78">
                <td><input name="n79">
            </tr>
            <tr>
                <td><input name="n81">
                <td><input name="n82">
                <td><input name="n83">
                <td><input name="n84">
                <td><input name="n85">
                <td><input name="n86">
                <td><input name="n87">
                <td><input name="n88">
                <td><input name="n89">
            </tr>
            <tr>
                <td><input name="n91">
                <td><input name="n92">
                <td><input name="n93">
                <td><input name="n94">
                <td><input name="n95">
                <td><input name="n96">
                <td><input name="n97">
                <td><input name="n98">
                <td><input name="n99">
            </tr>



        </table>
        <input type="submit" style="width: 10%;">
    </form>

    <div>
        <a href="http://127.0.0.1:8000"><input type="button" value="Home" style="width: 10%;"></a>
    </div>

</body>
</html>