{% extends 'sudoku/base.html' %}

{% block contents %}

<style>
    input {
        border: 5px;
        resize: none;
        width: 75px;
        height: 75px;
        font-size: 25px;
        text-align: center;
        outline-style: solid;
    }
</style>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">숫자를 입력하세요!</h1>
    <p class="lead font-weight-normal">정확히 입력해야 답을 내요.</p>
  </div>
  <div>
    <form method="post" enctype="multipart/form-data" action="" >

    {% csrf_token %}
    <table style="outline-style: solid; margin: auto; text-align: center; margin-bottom: 30px;">
        {% for i in "123456789" %}
        <tr>
            {% for j in "123456789" %}
            <td><input type="text" name="n{{i}}{{j}}"></td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <input class="btn btn-primary" type="submit" style="width: 10%;">
</form>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const inputs = document.querySelectorAll('input[type="text"]');

    function getNextInputName(currentName, increment) {
        let currentNumber = parseInt(currentName.replace(/^\D+/g, ''));
        let nextNumber = currentNumber + increment;
        return `n${nextNumber.toString().padStart(2, '0')}`;
    }

    inputs.forEach(input => {
        input.addEventListener('keyup', function(e) {
            if ((e.key >= '0' && e.key <= '9') || e.key === 'Backspace') {
                let nextInputName;
                if (e.key !== 'Backspace') {
                    nextInputName = getNextInputName(this.name, 1);
                } else {
                    nextInputName = getNextInputName(this.name, -1);
                }
                let nextInput = document.querySelector(`input[name=${nextInputName}]`);
                if (nextInput) {
                    nextInput.focus();
                }
            } else if (e.key === 'ArrowRight') {
                let nextInputName = getNextInputName(this.name, 1);
                let nextInput = document.querySelector(`input[name=${nextInputName}]`);
                if (nextInput) nextInput.focus();
            } else if (e.key === 'ArrowLeft') {
                let prevInputName = getNextInputName(this.name, -1);
                let prevInput = document.querySelector(`input[name=${prevInputName}]`);
                if (prevInput) prevInput.focus();
            }
        });
    });
});
</script>

{% endblock %}
