<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Front page</title>
</head>
<body>
    <h1>front page</h1>
    <h2>Welcome to SudokuSolver</h2>


    <div>
        <a href="solve/bytype/"><input type="button" value="solve by type"></a>
        <a href="solve/bypic/"><input type="button" value="solve by picture"></a>
        <a href="solve/posts/"><input type="button" value="posts"></a>
    </div>
    <div>
        <a href=""><input type="button" value="Home"></a>
    </div>




</body>
</html>